<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">best free app</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">
        join free
        <%# <small class="text-muted">/ mo</small> %>
      </h1>
      sdfhfdsjkfh jds fjdsk fjdsk fdsk jfdskj fndskjf djsnjsn fdsn fnds ajnfdnsafmnds dsj fndksj nf jdsnf dsnf kdjsnf dn sdmn vbds bdskj vvsd bdskjb dsj
      bdsjn bdsm fbdsfh sbfdsn bfdsmfb dskf bdsk bdmsb fdnsmbf ksbf dsal
      jska nfdj fndsj fdsjkfn sjdfjkdsnfkdjs nfdms nfdmsn jdfn dsjkfhiwiqfn kjdsf njkdsa normal
      <%# <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> %>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Sign Up Today</h4>
    </div>
    <div class="card-body">
      <%#= render "" %>
      <p>click below to get started.</p>
      <%= link_to "Sign Up", new_account_registration_path, class: 
        "btn btn-lg btn-block btn-primary" %>
      
    </div>
  </div>
</div>
